/* latin Char */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  /* woff2 or be damned. user better have a super modern browser, because it ain't changing */
  src:  local('Roboto Thin'),
        local('Roboto-Thin'),
        url(./assets/KFOlCnqEu92Fr1MmYUtfBBc4.woff2),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxFIzIFKw.woff2) format('woff2');
  unicode-range: U+0-10ffff
}

* {background-color: #E8E5D6;}

body {
    color: #17142b;
    font-family: 'Roboto';
    font-size: 25px;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    

}


#inline {
    display: inline-block;
}

#timer {
    margin-right: 50px;
    text-align: right;
}


p.center {
    color: #373447
}


/* change to radio options  */
form {
        margin-left: 1em;
        color: 	#26D840;
        margin: 5px 400px 0 0;
        padding-left: 8px;
    }

p.question-container {
    
}